# Ignore these folders
node_modules/
hooks/
platforms/android/app/build/
platforms/android/app/libs/
platforms/android/app/src/
platforms/android/build/
platforms/android/build-tools/
.idea
local.properties
*.iml