# Ignore these folders
node_modules/
hooks/
platforms/android/.gradle/
platforms/android/app/
platforms/android/build/
platforms/android/build-tools/
platforms/android/gradle/
platforms/tempPlugin/
.idea
local.properties
*.iml